th,
td {
  position: relative;
  white-space: nowrap;
  &:first-child {
    &:hover {
      color: transparent;
      svg.del_btn {
        display: block;
        z-index: 2;
      }
    }
  }
  svg.del_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: none;
  }
}

h5 {
  margin: 0;
}

.profit {
  transform: translateY(-1px);
}

.info {
  display: flex;
}

// menu page

.tabs {
  width: 100%;
  padding: 2em 30px;
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    li {
      margin: 0 1em;
      padding: 0.5em;
      border: 1px solid #000;
      cursor: pointer;
    }
  }
}
