@charset "UTF-8";
/*
@include xl {
    寫在該class內層代表該class在此寬度下的樣式
}
*/
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
th,
td {
  position: relative;
  white-space: nowrap;
}

th:first-child:hover,
td:first-child:hover {
  color: transparent;
}

th:first-child:hover svg.del_btn,
td:first-child:hover svg.del_btn {
  display: block;
  z-index: 2;
}

th svg.del_btn,
td svg.del_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  display: none;
}

h5 {
  margin: 0;
}

.profit {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs {
  width: 100%;
  padding: 2em 30px;
}

.tabs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.tabs ul li {
  padding: 0.5em;
  border: 1px solid #000;
  border-radius: 8px;
  cursor: pointer;
}

.tabs ul li.active {
  background-color: #000;
  color: #fff;
}

.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: #fff;
}

.landing .bg01,
.landing .bg02 {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
}

.landing .bg01 {
  background: #003a56;
}

.landing .bg02 {
  background: #e6e36d;
  left: 50%;
}

.landing .brand {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.landing .brand h1 {
  font-size: clamp(2rem, 12.5vw, 15rem);
  font-weight: 900;
  margin-bottom: 8px;
  font-family: "Staatliches", cursive;
}

.landing .brand h4 {
  font-size: clamp(1rem, 2.25vw, 5rem);
  font-weight: 500;
  text-align: right;
  font-family: "Staatliches", cursive;
}

.strip {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #fff;
  opacity: 0.5;
}

.strip.no1 {
  left: 10%;
}

.strip.no2 {
  right: 10%;
}

.strip.no3 {
  right: 9.6%;
}

.strip.no4 {
  right: 9.2%;
}

.strip.no5 {
  right: 8.8%;
}

.strip.no6 {
  right: 8.4%;
}

.strip.no7 {
  right: 8%;
}

.strip.no8 {
  right: 7.6%;
}

.strip.no9 {
  right: 7.2%;
}

.strip.no10 {
  right: 6.8%;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #c8d;
}

.ellipse_container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  border-radius: 50%;
  margin: 0 auto;
  z-index: 9;
}

.ellipse_container .ellipse {
  position: absolute;
  top: 0;
  border-radius: 50%;
  border-style: solid;
}

.ellipse_container .ellipse.thin {
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: #fff;
  opacity: 0.5;
}

.ellipse_container .ellipse.thick {
  width: 93%;
  height: 93%;
  border-width: 10px;
  border-color: transparent;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 12px;
  left: 12px;
}

.ellipse_container .ellipse.c {
  width: 93%;
  height: 93%;
  border-width: 8px;
  border-color: #003a56 transparent #e6e36d transparent;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 12px;
  left: 12px;
  -webkit-animation: ellipseRotate 8s ease-in-out infinite;
          animation: ellipseRotate 8s ease-in-out infinite;
}

@-webkit-keyframes ellipseRotate {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(-405deg);
            transform: rotate(-405deg);
  }
}

@keyframes ellipseRotate {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(-405deg);
            transform: rotate(-405deg);
  }
}

.links {
  position: absolute;
  left: 10%;
  bottom: 10%;
  z-index: 10;
}

.links ul li:not(:last-child) {
  margin-bottom: 8px;
}

.links ul li a {
  font-size: 1.25rem;
  color: #fff;
}

.socials {
  position: absolute;
  left: 10%;
  top: 10%;
}

.socials a {
  color: #fff;
}
