th,
td {
  position: relative;
  white-space: nowrap;
}

th:first-child:hover,
td:first-child:hover {
  color: transparent;
}

th:first-child:hover svg.del_btn,
td:first-child:hover svg.del_btn {
  display: block;
  z-index: 2;
}

th svg.del_btn,
td svg.del_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  display: none;
}

h5 {
  margin: 0;
}

.profit {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
